<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #franchiseForm="ngForm">

        <div class="form-group">
          <label for="applicantName">Applicant Name</label>
          <input type="text" [(ngModel)]="franchise.applicantName" 
            class="form-control" 
            id="applicantName" 
            name="applicantName" 
            placeholder="Enter applicant name"
            required #applicantName="ngModel">
        </div>
        <div [hidden]="!applicantName.pristine" class="alert alert-danger">Applicant name is required</div>

        <div class="form-group">
          <label for="idNumber">Id Number</label>
          <input type="text" [(ngModel)]="franchise.idNumber" 
            class="form-control" 
            id="idNumber" 
            name="idNumber" 
            placeholder="Enter id number"
            required #idNumber="ngModel">
          <div [hidden]="!idNumber.pristine" class="alert alert-danger">Id number is required</div>
        </div>

        <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input type="date" [(ngModel)]="franchise.birthDate" 
              class="form-control" 
              id="birthDate" 
              name="birthDate" 
              placeholder="Enter birth date"
              required #birthDate="ngModel">
            <div [hidden]="!birthDate.pristine" class="alert alert-danger">Birth date is required</div>
          </div>

          <div class="form-group">
            <label for="contactAddress">Contact Address</label>
            <input type="text" [(ngModel)]="franchise.contactAddress" 
              class="form-control" 
              id="contactAddress" 
              name="contactAddress" 
              placeholder="Enter contact address"
              required #contactAddress="ngModel">
            <div [hidden]="!contactAddress.pristine" class="alert alert-danger">Contact address is required</div>
          </div>

          <div class="form-group">
            <label for="contactPhone">Contact Phone</label>
            <input type="text" [(ngModel)]="franchise.contactPhone" 
              class="form-control" 
              id="contactPhone" 
              name="contactPhone" 
              placeholder="Enter contact phone"
              required #contactPhone="ngModel">
            <div [hidden]="!contactPhone.pristine" class="alert alert-danger">Contact phone is required</div>
          </div>

          <div class="form-group">
            <label for="contactEmail">Contact Email</label>
            <input type="email" [(ngModel)]="franchise.contactEmail" 
              class="form-control" 
              id="contactEmail" 
              name="contactEmail" 
              placeholder="Enter contact email"
              required #contactEmail="ngModel">
            <div [hidden]="!contactEmail.pristine" class="alert alert-danger">Contact email is required</div>
          </div>

          <div class="form-group">
            <label for="previousExperience">Describe your previous experience about Food & Beverage business</label>
            <input type="text" [(ngModel)]="franchise.previousExperience" 
              class="form-control" 
              id="previousExperience" 
              name="previousExperience" 
              placeholder="Enter previous experience"
              required #previousExperience="ngModel">
            <div [hidden]="!previousExperience.pristine" class="alert alert-danger">Previous experience is required</div>
          </div>

          <div class="form-group">
            <label for="intrestBrand">Describe your interest about our brand</label>
            <input type="text" [(ngModel)]="franchise.intrestBrand" 
              class="form-control" 
              id="intrestBrand" 
              name="intrestBrand" 
              placeholder="Enter intrest in brand"
              required #intrestBrand="ngModel">
            <div [hidden]="!intrestBrand.pristine" class="alert alert-danger">Intrest in brand is required</div>
          </div>

          <div class="form-group">
            <label for="investment">Planned investment amount in USD</label>
            <input type="number" [(ngModel)]="franchise.investment" 
              class="form-control" 
              id="investment" 
              name="investment" 
              placeholder="Enter investment in USD"
              required #investment="ngModel">
            <div [hidden]="!investment.pristine" class="alert alert-danger">Investment is required</div>
          </div>

        

          <div class="form-group">
            <label for="geographicalArea">In which geographical areas would you like to operate</label>
            <input type="text" [(ngModel)]="franchise.geographicalArea" 
              class="form-control" 
              id="geographicalArea" 
              name="geographicalArea" 
              placeholder="Enter geographical area"
              required #geographicalArea="ngModel">
            <div [hidden]="!geographicalArea.pristine" class="alert alert-danger">Geographical area is required</div>
          </div>

          <div class="form-group">
            <label for="additionalNotes">Additional Notes</label>
            <input type="text" [(ngModel)]="franchise.additionalNotes" 
              class="form-control" 
              id="additionalNotes" 
              name="additionalNotes" 
              placeholder="Enter aditional notes"
              required #additionalNotes="ngModel">
            <div [hidden]="!additionalNotes.pristine" class="alert alert-danger">Additional notes is required</div>
          </div>


        <button type="submit" (click)="showMessageSoon()" [disabled]="!franchiseForm.form.valid" 
          class="btn btn-info">Submit</button>
          <p></p>
          <p *ngIf="showMyMessage" style="background-color:mediumseagreen;font-size:28px;text-align:center;">Submitted!!!</p>
      </form>
    </div>
  </div>